<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        {% block stylesheets %}

        {% endblock %}
        {% block styles %}
            <style>
                .card {
                    width: 100%;
                    margin-bottom: 20px;}

                .pagination ul.pagination {
                    display: flex;
                    justify-content: center;
                    margin-top: 20px;
                }

                .pagination ul.pagination li.page-item a.page-link {
                    color: #fff;
                    background-color: #333;
                    border: none;
                    transition: background-color 0.3s;
                }

                .pagination ul.pagination li.page-item.active a.page-link {
                    background-color: #555;
                    pointer-events: none;
                }

                .pagination ul.pagination li.page-item a.page-link:hover {
                    background-color: #555;
                }


            </style>
        {% endblock %}


        {% block javascripts %}
            <script src="{{ asset('js/response-edit.js') }}"></script>
        {% endblock %}
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('app_home') }}">Fondation SCP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
                </li>
                {% if app.user %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('create_article') }}">Créer un Rapport</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ">
                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if app.user.firstName %}
                                {{ app.user.firstName }} {{ app.user.lastName }}
                            {% else %}
                                Guest
                            {% endif %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('app_user_show', {'id': app.user.id}) }}">Voir le profil</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                    </li>
                {% endif %}

            </ul>
            <ul class="navbar-nav ml-5 mr-5">

            </ul>
        </div>
    </nav>

    <body>
        {% block body %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>


</html>
